body {
    margin: 20px;
}

.cover {
    display: flex;
    border: 3px;
}

.dp{
    height: 200px;
    display: block;
}

h1 {
    text-transform: uppercase;
    height: 32px;
    display: block; 
}

