body {
    margin: 20px;
    border: 3px solid black;
}

.cover {
    display: flex;
    background: black;
    padding: 10px;
    color: white;
}

.dp{
    height: 150px;
    border-radius: 50%;
}

.title {
    text-transform: uppercase;
    color: #74ee15;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 30px;
    margin: 0px;
}

.subtitle {
    color: #ffee00;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: lighter;
    margin: 0px;
    }

.tns {
    text-align: right;
}

.smb {
    height: 25px;
}

h1 {
    font-family: monospace;
    letter-spacing: 5px;
    margin: 20px;
}

p {
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: bolder;
    margin: 0px 40px;
    text-align: justify;
}

a {
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: bolder;
}

.sml {
    text-align: right;
    margin-left: auto;
}