*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #74ee15;
}

nav:hover{
    border: 3px solid black;
}

.container{
    margin:  3px 20px;
    border: 1px dotted black;
    background-color: #74ee15;
}

body{
    background-color: royalblue;
}

.content {
    background-color: #74ee15;
}

header{
    background-color: black;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
}

.header_title{
    text-transform: uppercase;
    color: #74ee15;
    font-family: monospace;
    letter-spacing: 5px;
    font-size: 25px;
    border: 3px solid black;
}

.header_title:hover{
    color: black;
    background-color: #74ee15;
    border: 3px dotted black;
}

p{
    font-family: monospace;
    color: black;
    letter-spacing: 5px;
    font-size: 20px;
    margin: 50px 250px;
    background-color: white;
    text-align: justify;
    border: 3px solid white;
    padding: 10px;
}

p a{
    font-weight: bolder;
    font-size: 25px;
}

p:hover{
    border: 3px dotted #74ee15;
}