*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #ffee00;
}

nav:hover{
    border: 3px solid black;
}

.container{
    margin:  3px 20px;
    border: 1px dotted black;
    background-color: #ffee00;
}

body{
    background-color: royalblue;
}

.content {
    background-color: #ffee00;
    height: 100vh;
}

header{
    background-color: black;
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: space-between;
    position: relative;
}

.display_photo{
    height: 150px;
    border-radius: 50%;
    z-index: 99;
    position: absolute;
    border: 3px solid black;
    left: 45%;
    background-color: skyblue;
}

.display_photo:hover{
    border: 3px solid black;
    background-color: #ffee00;
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.header_title {
    text-transform: uppercase;
    color: #ffee00;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight:bolder;
    font-size: 40px;
    margin: 0px;
}

.header_title:hover{
    color: white;
}

.header_description{
    text-transform: uppercase;
    color: #74ee15;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px;
}

.social_buttons{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items:flex-end;
    margin-left: auto;
    justify-content: space-evenly;
}

img.social_facebook{
    height: 20px;
}

img.social_twitter{
    height: 20px;
}

img.social_medium{
    height: 20px;
}

.social_facebook{
    display: flex;
    align-items: center;
    background-color: #ffee00;
    padding: 2px;
    font-size: 20px;
}

.social_twitter{
    display: flex;
    align-items: center;
    background-color: #74ee15;
    padding: 2px;
    font-size: 20px;
}

.social_medium{
    display: flex;
    align-items: center;
    background-color: orange;
    padding: 2px;
    font-size: 20px;
}


a{
    color: black;
    text-align: right;
}

a.social_facebook:hover{
    color: #ffee00;
    background-color:black;
}

a.social_twitter:hover{
    color: #74ee15;
    background-color:black;
}

a.social_medium:hover{
    color: orange;
    background-color:black;
}

p{
    font-family: monospace;
    color: black;
    letter-spacing: 5px;
    font-size: 30px;
    margin: 150px 250px;
    background-color: white;
    text-align: center;
    border: 3px solid white;
    padding: 10px;
}

p a{
    font-weight: bolder;
    font-size: 35px;
}

p:hover{
    border: 3px dotted #ffee00;
}

  