*{
    margin: 0;
    padding: 0;
}

.container{
    margin:  5px 20px;
    border: 3px solid black;
    background-color: whitesmoke;
}

body{
    background-color: royalblue;
}

.content {
    background-color: whitesmoke;
    height: 100vh;
}

.display_photo{
    height: 150px;
    border-radius: 50%;
}

header{
    background-color: black;
    display: flex;
    padding: 10px;
    position: relative;
}

.header_content {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header_title {
    text-transform: uppercase;
    color: #74ee15;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 40px;
    margin: 0px;
}

.header_description{
    color: #ffee00;
    font-family: monospace;
    letter-spacing: 5px;
    font-weight: lighter;
    font-size: 20px;
    margin: 0px;
}

.social_buttons{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items:flex-end;
    margin-left: auto;
    justify-content: space-evenly;
}

img.social_facebook{
    height: 20px;
}

img.social_twitter{
    height: 20px;
}

img.social_medium{
    height: 20px;
}

.social_facebook{
    display: flex;
    align-items: center;
    background-color: red;
    padding: 2px;
    font-size: 20px;
}

.social_twitter{
    display: flex;
    align-items: center;
    background-color: #ffee00;
    padding: 2px;
    font-size: 20px;
}

.social_medium{
    display: flex;
    align-items: center;
    background-color: #74ee15;
    padding: 2px;
    font-size: 20px;
}


a{
    color: black;
    text-align: right;
}

a.social_facebook:hover{
    color: red;
    background-color:black;
}

a.social_twitter:hover{
    color: #ffee00;
    background-color:black;
}

a.social_medium:hover{
    color: #74ee15;
    background-color:black;
}

.in_process {
    box-shadow: 10px 30px 0 0 rgba(0, 0, 0, 1), 20px 30px 0 0 rgba(0, 0, 0, 1), 30px 30px 0 0 rgba(0, 0, 0, 1), 100px 30px 0 0 rgba(0, 0, 0, 1), 110px 30px 0 0 rgba(0, 0, 0, 1), 120px 30px 0 0 rgba(0, 0, 0, 1), 20px 40px 0 0 rgba(0, 0, 0, 1), 100px 40px 0 0 rgba(0, 0, 0, 1), 120px 40px 0 0 rgba(0, 0, 0, 1), 20px 50px 0 0 rgba(0, 0, 0, 1), 50px 50px 0 0 rgba(0, 0, 0, 1), 60px 50px 0 0 rgba(0, 0, 0, 1), 70px 50px 0 0 rgba(0, 0, 0, 1), 100px 50px 0 0 rgba(0, 0, 0, 1), 110px 50px 0 0 rgba(0, 0, 0, 1), 120px 50px 0 0 rgba(0, 0, 0, 1), 140px 50px 0 0 rgba(0, 0, 0, 1), 150px 50px 0 0 rgba(0, 0, 0, 1), 170px 50px 0 0 rgba(0, 0, 0, 1), 180px 50px 0 0 rgba(0, 0, 0, 1), 190px 50px 0 0 rgba(0, 0, 0, 1), 210px 50px 0 0 rgba(0, 0, 0, 1), 220px 50px 0 0 rgba(0, 0, 0, 1), 230px 50px 0 0 rgba(0, 0, 0, 1), 250px 50px 0 0 rgba(0, 0, 0, 1), 260px 50px 0 0 rgba(0, 0, 0, 1), 270px 50px 0 0 rgba(0, 0, 0, 1), 300px 50px 0 0 rgba(0, 0, 0, 1), 310px 50px 0 0 rgba(0, 0, 0, 1), 340px 50px 0 0 rgba(0, 0, 0, 1), 350px 50px 0 0 rgba(0, 0, 0, 1), 20px 60px 0 0 rgba(0, 0, 0, 1), 50px 60px 0 0 rgba(0, 0, 0, 1), 70px 60px 0 0 rgba(0, 0, 0, 1), 100px 60px 0 0 rgba(0, 0, 0, 1), 140px 60px 0 0 rgba(0, 0, 0, 1), 170px 60px 0 0 rgba(0, 0, 0, 1), 190px 60px 0 0 rgba(0, 0, 0, 1), 210px 60px 0 0 rgba(0, 0, 0, 1), 250px 60px 0 0 rgba(0, 0, 0, 1), 260px 60px 0 0 rgba(0, 0, 0, 1), 270px 60px 0 0 rgba(0, 0, 0, 1), 290px 60px 0 0 rgba(0, 0, 0, 1), 330px 60px 0 0 rgba(0, 0, 0, 1), 20px 70px 0 0 rgba(0, 0, 0, 1), 50px 70px 0 0 rgba(0, 0, 0, 1), 70px 70px 0 0 rgba(0, 0, 0, 1), 100px 70px 0 0 rgba(0, 0, 0, 1), 140px 70px 0 0 rgba(0, 0, 0, 1), 170px 70px 0 0 rgba(0, 0, 0, 1), 190px 70px 0 0 rgba(0, 0, 0, 1), 210px 70px 0 0 rgba(0, 0, 0, 1), 250px 70px 0 0 rgba(0, 0, 0, 1), 300px 70px 0 0 rgba(0, 0, 0, 1), 310px 70px 0 0 rgba(0, 0, 0, 1), 340px 70px 0 0 rgba(0, 0, 0, 1), 350px 70px 0 0 rgba(0, 0, 0, 1), 10px 80px 0 0 rgba(0, 0, 0, 1), 20px 80px 0 0 rgba(0, 0, 0, 1), 30px 80px 0 0 rgba(0, 0, 0, 1), 50px 80px 0 0 rgba(0, 0, 0, 1), 70px 80px 0 0 rgba(0, 0, 0, 1), 100px 80px 0 0 rgba(0, 0, 0, 1), 140px 80px 0 0 rgba(0, 0, 0, 1), 170px 80px 0 0 rgba(0, 0, 0, 1), 180px 80px 0 0 rgba(0, 0, 0, 1), 190px 80px 0 0 rgba(0, 0, 0, 1), 210px 80px 0 0 rgba(0, 0, 0, 1), 220px 80px 0 0 rgba(0, 0, 0, 1), 230px 80px 0 0 rgba(0, 0, 0, 1), 250px 80px 0 0 rgba(0, 0, 0, 1), 260px 80px 0 0 rgba(0, 0, 0, 1), 270px 80px 0 0 rgba(0, 0, 0, 1), 290px 80px 0 0 rgba(0, 0, 0, 1), 310px 80px 0 0 rgba(0, 0, 0, 1), 330px 80px 0 0 rgba(0, 0, 0, 1), 350px 80px 0 0 rgba(0, 0, 0, 1), 370px 80px 0 0 rgba(0, 0, 0, 1), 390px 80px 0 0 rgba(0, 0, 0, 1), 410px 80px 0 0 rgba(0, 0, 0, 1);
    height: 10px;
    width: 10px;
  }