*{
    margin: 0;
    padding: 0;
}

nav{
    margin:  5px 20px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav ul{
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

li {
    display: block;
}
a{
    font-family: monospace;
    letter-spacing: 5px;
    padding: 0px 3px;
    text-decoration: none;
}

a.home_button {
    text-decoration: none;
    color: black;
    background-color: #ffee00;
    align-content: center;
}

a.about_button {
    text-decoration: none;
    color: black;
    background-color: #74ee15;
    align-content: center;
}

a.contact_button {
    text-decoration: none;
    color: black;
    background-color: orange;
    align-content: center;
}

a.home_button:hover{
    color: #ffee00;
    background-color: black;
}

a.about_button:hover{
    color: #74ee15;
    background-color: black;
}

a.contact_button:hover{
    color: orange;
    background-color: black;
}